body {
background-color: lightblue;
}

h1 {
  text-align: center;
  color: white
  }
h2 {
  text-align: center;
  font: arial;
  size: 12
}
p {
  text-align: center;
  size: 10
  font: arial
  }
.container
{
  align-items
  font-size: 24
}
